 <ul class="nav nav-sidebar">
          <!-- <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li> -->
                <li><a href="/admin/">首页</a></li>
                <li><a href="/admin/news">新闻管理</a></li>
                <!-- <li><a href="/admin/slides">轮播图管理</a></li> -->
                <!-- <li><a href="/admin/custom">用户评价</a></li> -->
           <!-- <li><a href="/admin/contact">联系方式</a></li>
                <li><a href="/admin/intro">产品介绍</a></li>
                <li><a href="/admin/msg">留言管理</a></li>
                <li><a href="/admin/news">新闻管理</a></li>-->
</ul>