<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include ../common/top.ejs %>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <% include ../common/left.ejs %>
                </div>   
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <div class="content">
                                我是管理首页的
                        </div>
                </div>
        </div>    
    </div>
   <!-- <div class="page"> 
        <div class="left-wrap">
            <a href="/admin/banners">banner设置</a>
            <a href="/admin/blog">博客设置</a>
            <a href="/admin/contact">联系方式</a>
            <a href="/admin/">用户评价</a>
            <a href="/admin/intro">产品介绍</a>
            <a href="/admin/msg">留言管理</a>
            <a href="/admin/news">新闻管理</a>
        </div>
        <div class="right-wrap">

        </div>
    </div>      -->
        
</body>
</html>